export SQLALCHEMY_DATABASE_URL="postgresql://leonardocollazos:123456@localhost:5432/scraping_data"
export ALGORITHM="HS256"
export ACCESS_EXPIRATION_TIME=30
export REFRESH_EXPIRATION_TIME=30
export SECRET_KEY="c91934fdb05ef5cbb27f92ebbcb970790a2fadc5e63218744b9f9e76508691b9"

