export DATABASE_HOST=localhost
export DATABASE_NAME=library
export DATABASE_PASSWORD=123456
export DATABASE_USER=leonardocollazos
export DATABASE_PORT=5432


# TEST DATABASE
export TEST_DATABASE_NAME=test_library
export TEST_DATABASE_USER=leonardocollazos
export TEST_DATABASE_PASSWORD=123456
export TEST_DATABASE_HOST=localhost
export TEST_DATABASE_PORT=5432


SECRET_KEY = "lm12lkj32klj23klj123lkj231kl"
